# Variables de entorno.

# Base de datos.
DB_DATABASE = # Nombre de tu base de datos.
DB_HOST = # Host de tu base de datos.
DB_USER = # Usuario de postgres.
DB_PASSWORD = # Contraseña de postgres.
DB_PORT = # Puero de tu base de datos.

# Json Web Token
JWT_SECRET= # Secret del Json Web Token.

# Cloudinary
CLOUD_NAME = # Nombre del cloud.
API_KEY = # Key del cloud.
API_SECRET = # Secret del cloud.